@import '../../app/layouts/variables.scss';

.dark-experience {
    background-color: $dark-secondary;
    padding-top: 10em;

    &__card-title {
        color: #495057;
    }
}

.light-experience {
    background-color: $light-secondary;
    padding-top: 10em;

    &__card-title {
        color: lightgrey;
    }
}

.experience {
    &__title {font-size: 4em; }
}

