@import '../../layouts/variables.scss';

.dark-navbar {
    background: #1E1F1E;

}

.light-navbar {
    background: #3E3F3E;
}
    
.navbar {
    &__text { letter-spacing: 0.1em; }
}

    

    






