@import '../../layouts/variables.scss';

.dark-card {
    background-color: $dark-secondary;
    border: 1px solid white;

}

.light-card {
    background-color: $light-primary;
    border: 1px solid $dark-secondary;

}

.card {
    &__link {
        text-decoration: none;
    }
}