@import './variables.scss';

.bg {
    &__secondary { background-color: $dark-secondary !important; }
    &__white { background-color: #fff !important; }
}

.card {
    &__container { 
        background-color: #000;
        border-radius: 4px;
    }
}

.dark {
    &__primary { background-color: $dark-primary; }
    &__secondary { background-color: $dark-secondary; }
}

.home {
    &__dark {
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../../images/home-bg.jpeg');
    }

    &__light {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../images/home-bg.jpeg');
    }
}

.image {
    &__background-full {
        background-color: $dark-primary;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}

.letter-spacing {
    &__2 { letter-spacing: 2px }
    &__5 { letter-spacing: 5px }
}

.light {
    &__primary { background-color: $light-primary; }
    &__secondary { background-color: $light-secondary; }
}

.navbar {
    &__dark { background: #1E1F1E; }
    &__light { background: #3E3F3E; }
}

.padding {
    &__y3 {padding: 3em 0 }
    &__top-3 {padding-top: 3em;}
    &__bottom-8 {padding-bottom: 8em;}
}

.text {
    &__bold { font-weight: bold;}
    &__grey { color: #495057; }
    &__no-decoration {text-decoration: none;}
}

.title {
    &__huge {font-size: 4em;}
}   

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

