@import '../../app/layouts/variables.scss';

.dark-contact {
    background-color: $dark-secondary;
    padding-top: 10em;
}

.light-contact {
    background-color: $light-secondary;
    padding-top: 10em;
}

.contact {
    &__title { font-size: 4em; }
}