@import '../../app/layouts/variables.scss';

.dark-mode.home {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('./home-bg.jpeg');
    background-color: $dark-primary;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;

    & >.home__container{
        & >.home__title {
            font-size: 5em;
            letter-spacing: 5px;
        }

        & >.home__subtitle {
            font-size: 1.2em;
            letter-spacing: 2px;
        }
    }
}

