@import '../../app/layouts/variables.scss';

// .dark-mode{
//     & > .portfolio {
//         padding-top: 10em;
    
//         & > .portfolio__title {
//             font-size: 5rem;
//             color: grey;
//         }

//         & > .portfolio__card {
//             & > .portfolio__card__list {
//                 & > .portfolio__card__item {
//                     & > .portfolio__card__img {
//                     }

//                     & > .portfolio__card__overlay {
//                         background-color: red;

//                         & > .portfolio__card__title {
//                             background-color: $secondary;
//                             color: white
//                         }
//                         & > .portfolio__card__desc {
//                             color: white
//                         }
//                     }
//                     }

//             }
//         }
//     }
// }

.dark-mode{
    & > .portfolio {
        background-color: $dark-secondary;
        padding-top: 10em;
    
        & > .portfolio__container {
            & > .portfolio__title {
                font-size: 5rem;
                color: grey;
            }
    
            & > .portfolio__card {
                & > .portfolio__card__list {
                    & > .portfolio__card__item {
                        & > .portfolio__card__img {
                            width: 100%;
                        }
    
                        & > .portfolio__card__overlay {
                            position: absolute;
                            top: 0;
    
                            & > .portfolio__card__title {
                                background-color: red;
                                color: white
                            }
                            & > .portfolio__card__desc {
                                color: white
                            }
                        }
                        }
    
                }
            }
        }
    }
}

.light-mode{
    & > .portfolio {
        padding-top: 10em;
    
        & > .portfolio__title {
            font-size: 5rem;
            color: grey;
        }
    }
}