@import '../../app/layouts/variables.scss';

.dark-project {
    background-color: $dark-primary;
    padding: 10em 0;
}

.light-project {
    background-color: $light-primary;
    padding: 10em 0;
}

.project {
    &__title { font-size: 4em; }
}

.card {
    &__body { background-color: #000; }
}