@import '../../app/layouts/variables.scss';

.dark-certificate {
    background-color: $dark-secondary;
}

.light-certificate {
    background-color: $light-secondary;
}

.certificate {
    &__title { font-size: 4em; }
}